#bets-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  background-color: cornflowerblue;
  width: 100vw;
  padding: 10px;
  text-align: center;
  margin-top: 0;
}

.bet {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  text-shadow: 0 0 3px black;
  position: relative;
}

#bet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.for-bet, .against-bet {
  font-size: .95em;
}

.for-against {
  display: flex;
  flex-direction: row;
  
}

.val {
  width: 20px;
  margin-left: 10px;
}

.bet > .bet-name {
  font-size: 14pt;
  width:200px;
}

.for_against > .plus {
  width: 2px;
  height: 2px;
}

.bet > #expires {
  font-size: .5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

#adder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#name-input {
  margin: 10px 0;
}

#date {
  margin: 10px 0;
  font-size: .5em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
