#bets-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  background-color: cornflowerblue;
  width: 100vw;
  padding: 10px;
  text-align: center;
  margin-top: 0;
}

.bet {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  text-shadow: 0 0 3px black;
  position: relative;
}

#bet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.for-against {
  display: flex;
  flex-direction: row;
}

.val {
  width: 20px;
  margin-left: 10px;
}

.bet > .bet-name {
  font-size: 14pt;
  width:200px;
}

#expires {
  font-size: .25em;
  position: absolute;
  right: 10;
  bottom: 10;
}

#adder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#name-input {
  margin: 10px 0;
}
